{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Example of Links</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<h1>Example of Links</h1>

<a href="https://www.google.com" class="styled-link link-one" target="_blank">
    Go to Google (new tab)
</a>

<a href="https://www.youtube.com" class="styled-link link-two">
    Go to YouTube (same tab)
</a>

<a href="https://www.wikipedia.org" class="styled-link link-three">
    Go to Wikipedia (same tab)
</a>

</body>
</html>




