{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Tables Example</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<h1 class="format-title">Example of Tables</h1>

<table class="styled-table">
    <tr>
        <th>Course</th>
        <th>Code</th>
        <th>Credits</th>
    </tr>

    <tr>
        <td>Web Technologies</td>
        <td>CS471</td>
        <td>3</td>
    </tr>

    <tr>
        <td>Database Systems</td>
        <td>CS351</td>
        <td>3</td>
    </tr>

    <tr>
        <td>Operating Systems</td>
        <td>CS361</td>
        <td>4</td>
    </tr>
</table>

</body>
</html>
