<h2>Books List (Part 2)</h2>

<a href="/books/lab9_part2/addbook">Add New Book</a>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th><th>Title</th><th>Author</th><th>Price</th><th>Actions</th>
    </tr>

    {% for b in books %}
    <tr>
        <td>{{ b.id }}</td>
        <td>{{ b.title }}</td>
        <td>{{ b.author }}</td>
        <td>{{ b.price }}</td>
        <td>
            <a href="/books/lab9_part2/editbook/{{ b.id }}">Edit</a> |
            <a href="/books/lab9_part2/deletebook/{{ b.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
